# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
	user = Rohan Kshirsagar
	email =  rohank12345@gmail.com
[alias]
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
	logtree = log --graph --oneline --decorate --all
	cp = cherry-pick
	st = status -s
	cl = clone
	ci = commit
	co = checkout
	br = branch 
	diff = diff --word-diff
	dc = diff --cached
	r = reset
	r1 = reset HEAD^
	r2 = reset HEAD^^
	rh = reset --hard
	rh1 = reset HEAD^ --hard
	rh2 = reset HEAD^^ --hard
	la = "!git config -l | grep alias | cut -c 7-"
	f = "!git ls-files | grep -i"
	dr  = "!f() { git diff "$1"^.."$1"; }; f"
	lc  = "!f() { git ll "$1"^.."$1"; }; f"
	diffr  = "!f() { git diff "$1"^.."$1"; }; f"
	filelog = log -u
	fl = log -u
[user]
	email = rohank12345@gmail.com
